* {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    border-top: 1px solid black;
    margin-top: 5px;
}

li:has(a) {
    padding: 10px;
}

img {
    width: 70vw;
    max-width: 700px;
}